@model Invoice.Core.ViewModel.ShowCustomerViewModel
@{
    ViewData["Title"] = "Customer List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Lista Clienti</h3>
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Nume</th>
                                        <th>Email</th>
                                        <th>Numar Telefon</th>
                                        <th>Detalii</th>
                                        <th>Optiuni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Customers)
                                    {
                                        <tr>
                                            <td>
                                                <form asp-controller="admin" asp-action="GetCustomerProfile" method="post">
                                                    <input asp-for="Customer.Id" type="text" value="@item.Id" style="display:none"/>
                                                    <input type="submit" value="@item.Name" style="border:none;background:none;" />
                                                </form>
                                            </td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Notes</td>
                                            <td>
                                                <a href="@Url.Action("EditCustomer", "Admin", new {customerId = item.Id})" class="btn btn-icon btn-warning btn-xs m-b-5">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="@Url.Action("DeleteCustomer", "Admin", new {customerId = item.Id})" onclick="return confirm('Are you sure you want to Remove this customer?')" class="btn btn-icon btn-danger btn-xs m-b-5">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>





@section scripts{

}