@model Invoice.Core.ViewModel.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int i = 1;
}

<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Pagina principala</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Acasa</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-3" >
                <div class="card p-30" style="border:solid;border-color:darksalmon;">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-usd f-s-40 color-primary"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>@Model.TotalSaleValue</h2>
                            <p class="m-b-0" style="font-weight: bolder; color:black;">Valoare totala incasata</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30" style="border:solid;border-color:darksalmon;">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-shopping-cart f-s-40 color-success"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>@Model.TotalSales</h2>
                            <p class="m-b-0" style="font-weight: bolder; color:black;">Numar total de vanzari</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30" style="border:solid;border-color:darksalmon;">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-archive f-s-40 color-warning"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>@Model.Products</h2>
                            <p class="m-b-0" style="font-weight: bolder; color:black;">Numar produse</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30" style="border:solid;border-color:darksalmon;">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>@Model.Customers</h2>
                            <p class="m-b-0" style="font-weight: bolder; color:black;">Numar Clienti</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h3>Ultimele vanzari </h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Seria Facturii</th>
                                        <th>Nume Client</th>
                                        <th>Data</th>
                                        <th>Valoare Incasata</th>
                                        <th>Status</th>
                                        <th> Print</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.LastFiveSales)
                                    {
                                        
                                            var customerId = item.CustomerId;
                                            var customer = Model.AllCustomers.FirstOrDefault(cust => cust.Id == customerId);
                                        
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.SaleCode</td>
                                                <td>@customer.Name</td>
                                                <td>@(String.Format("{0:dd/MM/yyyy}", item.SalesDate))</td>
                                                <td>@item.GrandTotal RON</td>
                                                <td>
                                                    @if (item.Status == "De platit")
                                                    {
                                                        <div style="font-size:20px;">
                                                            <label class="label label-warning">De platit</label>
                                                        </div>


                                                    }
                                                    @if (item.Status == "Platita")
                                                    {
                                                        <div style="font-size:20px;">
                                                            <label class="label label-success">Platita</label>
                                                        </div>


                                                    }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("SaleInvoice","Sales", new {saleId = item.Id,style=1})" title="Invoice 1" style="padding:5px;">
                                                        <i class="fa fa-file" style="font-size:18px;"></i>
                                                    </a>

                                                    <a href="@Url.Action("SaleInvoice","Sales", new {saleId = item.Id,style=2})" title="Invoice 2" style="padding:5px;">
                                                        <i class="fa fa-sticky-note" style="font-size:18px;"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            i++;
                                        }


                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

