@model  IEnumerable<Invoice.Core.Entity.ProductModel>
@{
    ViewData["Title"] = "Lista de Produse";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Lista Produse</h4>
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr style="text-align:center">
                                        <th>Cod Produs</th>
                                        <th>Nume Produs</th>
                                        <th>Pret</th>
                                        <th>Stoc</th>
                                        <th style="text-align:center">Optiuni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr style="text-align:center">
                                            <td>@item.Code</td>
                                            <td>@item.Name</td>
                                            <td>@item.Price RON</td>
                                            <td>@item.Stoc</td>
                                           
                                            <td style="text-align:center">
                                                <a href="@Url.Action("EditProduct", "Admin", new {productId = item.Id})"style="padding:5px; ">
                                                    <i class="fa fa-edit" style="font-size:18px;"></i>
                                                </a>
                                                <a href="@Url.Action("DeleteProduct", "Admin", new {productId = item.Id})" onclick="return confirm('Sunteti sigur ca vreti sa stergeti acest produs?')">
                                                    <i class="fa fa-trash" style="font-size:18px;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>





@section scripts{
    
}

