<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Invoice Generator</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!--Icon fonts css-->

    <link href="~/AdminEla/Assets/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/AdminEla/Assets/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="~/AdminEla/Assets/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="~/AdminEla/Assets/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/AdminEla/Assets/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/AdminEla/Assets/css/helper.css" rel="stylesheet">
    <link href="~/AdminEla/Assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <style type="text/css">
        .wraper {
            min-height: 700px;
        }
    </style>
</head>
<body class="fix-header fix-sidebar">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>

    <div id="main-wrapper">
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("index")">
                       <h2>Online <strong>Invoice</strong> Generator</h2>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">


                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="@Url.Action("Logout", "Home")"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="left-sidebar" style="background:#006eff;  ">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" style="background: linear-gradient(0deg, #006eff 0%, #08eede 100%);">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label" style="color: black;">Acasa</li>
                        <li>
                            <a href="@Url.Action("Index", "Admin")" aria-expanded="false" style="color: black;"><i class="fa fa-tachometer" style="color: black;"></i><span class="hide-menu" >Dashboard</span></a>
                        </li>
                        <li class="nav-label" style="color: black;">Functionalitati</li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false" style="color: black;"><i class="fa fa-user-plus" style="color: black;"></i><span class="hide-menu">Clienti</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("AddCustomer", "Admin")" style="color: black;">Client Nou</a></li>
                                <li><a href="@Url.Action("CustomerList", "Admin")" style="color: black;">Toti Clientii</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false" style="color: black;"><i class="fa fa-qrcode" style="color: black;"></i><span class="hide-menu">Produse </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("AddProduct","Admin")" style="color: black;">Adauga un produs</a></li>
                                <li><a href="@Url.Action("ProductList","Admin")" style="color: black;">Lista de produse</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false" style="color: black;"><i class="fa fa-cart-plus" style="color: black;"></i><span class="hide-menu">Facturi</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("AddSale","Sales")" style="color: black;">Adauga o vanzare noua</a></li>
                                <li><a href="@Url.Action("Index","Sales")" style="color: black;">Lista de facturi</a></li>
                            </ul>
                        </li>
                        <li>
                            <a style="color: black;" href="@Url.Action("SalesReport", "Sales")" aria-expanded="false"><i class="fa fa-print" style="color: black;"></i><span class="hide-menu">Rapoarte Vanzari</span></a>
                        </li>
                        <li><a style="color: black;" href="@Url.Action("Settings","Admin")" aria-expanded="false"><i class="ti-settings" style="color: black;"></i> <span class="hide-menu">Setari</span></a></li>
                        <li><a style="color: black;" href="@Url.Action("Logout", "Home")" aria-expanded="false"><i class="fa fa-power-off" style="color: black;"></i> <span class="hide-menu">Deconectare</span></a></li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <section class="content">
            @RenderBody()
        </section>
    </div>









    <script src="~/AdminEla/Assets/js/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/AdminEla/Assets/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/AdminEla/Assets/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/AdminEla/Assets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/AdminEla/Assets/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <!-- Amchart -->
    @*<script src="~/AdminEla/Assets/js/lib/morris-chart/raphael-min.js"></script>
        <script src="~/AdminEla/Assets/js/lib/morris-chart/morris.js"></script>
        <script src="~/AdminEla/Assets/js/lib/morris-chart/dashboard1-init.js"></script>*@


    <script src="~/AdminEla/Assets/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="~/AdminEla/Assets/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="~/AdminEla/Assets/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="~/AdminEla/Assets/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="~/AdminEla/Assets/js/lib/calendar-2/pignose.init.js"></script>

    <script src="~/AdminEla/Assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="~/AdminEla/Assets/js/scripts.js"></script>
    <!-- scripit init-->



    <script src="~/AdminEla/Assets/js/lib/datatables/datatables.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="~/AdminEla/Assets/js/lib/datatables/datatables-init.js"></script>


    <script src="~/AdminEla/Assets/js/custom.min.js"></script>


    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {


        });
    </script>

</body>
</html>
